<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="color-scheme" content="light">
        <link href="./View/css/style.css" rel="stylesheet" type="text/css">
        <link href="./View/css/pico.min.css" rel="stylesheet" type="text/css">
        <title>Thoughts - An Open CBT Tool</title>
        <link rel="icon" type="image/x-icon" href="View/assets/img/favicon.ico">

    </head>

    <body>
        <nav>
            <ul>
                <li>
                    <strong>Thoughts</strong>
                </li>
                <li>
                    <a href='/thoughts/logout'> Log Out </a> 
                </li> 
                <li>
                    <p> Name: {{username}} </p>
                </li
            </ul>
        </nav>
        <main class="centralize">

            <section class="centralize">

                <h1>
                   The List Will Be Shown Here
                </h1>
                <a href="/thoughts/my_thoughts">
                    <button>Add your thoughts</button>
                </a>

            </section>

        </main>
    </body>
</html>
