<!doctype html>
<html lang="pt">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="color-scheme" content="light">
        <link href="./View/css/style.css" rel="stylesheet" type="text/css">
        <link href="./View/css/pico.min.css" rel="stylesheet" type="text/css">
        <title>Pensamentos - Uma Ferramenta Aberta de TCC</title>
        <link rel="icon" type="image/x-icon" href="View/assets/img/favicon.ico">

    </head>

    <body>
        <nav>
            <ul>
                <li>
                    <strong>Pensamentos</strong>
                </li>
                <li>
                    <a href='/thoughts/logout'> Sair </a> 
                </li> 
             <!--   <li>
                    <p> Nome: {{username}} </p>
                </li -->
            </ul>
        </nav>
        <main class="centralize">

            <section class="centralize">

                <h1>
                   A lista será exibida aqui
                </h1>
                <a href="/thoughts/my_thoughts">
                    <button>Adicionar seus pensamentos</button>
                </a>

            </section>

        </main>
    </body>
</html>
