<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="color-scheme" content="light">
        <link href="../public/css/style.css" rel="stylesheet" type="text/css">
        <link href="../public/css/pico.min.css" rel="stylesheet" type="text/css">
        <title>Pensamentos - Uma ferramenta livre para TCC</title>
        <link rel="icon" type="image/x-icon" href="../public/assets/img/favicon.ico">

    </head>

    <body>

        <main class="centralize container">

            <section class="centralize login container">

                <div style="text-align: center">
                    <img src="../public/assets/img/logo.png">
                    <h2 class="cursor typewriter-animation">
                        Pensamentos
                    </h2>
                    <p class="A CBT tool" style="font-style: italic">
                        Uma ferramenta livre para TCC
                    </p>
                </div>
                <div>
                    <form method="POST" action="/thoughts/public/list">
                        <input type="email" name="email" placeholder="Insira o seu e-mail" arial-label="email" autocomplete="email">
                        <input type="password" name="password_hash" placeholder="Senha" aria-label="Password">

                    </div>
                    <div class="button-group">
                        <input type="submit" value="Login">
                    </div>
                    <div class="button-wdt"></div>
                    <a href="/thoughts/public/register">Ainda não uma conta? Cadastre-se!</a>
                </form>
            </section>

        </main>
    </body>
</html>
